<!DOCTYPE html>
<html>
<head>
    <title>Petsure Claim</title>

    <script src="/Scripts/lib/angular/angular.js"></script>
    <script src="/Scripts/lib/angular/angular-route.js"></script>


</head>
<body>
    <div>
        <div>
            <div>

            </div>
        </div>
    </div>
    @RenderBody()

</body>
</html>