<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Petsure Claim System</title>

    <!--CSS-->
    <link rel="stylesheet" href="/Content/BootstrapCss/bootstrap.css">
    <link href="/Content/BootstrapCss/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/CustomCss/style.css" rel="stylesheet">
    <script src="/Scripts/lib/jquery/jquery-1.9.1.js"></script>
    <script src="/Scripts/lib/jquery/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/lib/angular/angular-route.js"></script>
    <script src="/Scripts/lib/bootstrap/bootstrap.js"></script>
    <script src="/Scripts/lib/bootstrap/bootstrap.min.js"></script>

</head>
<body id="home" ng-app="app.Home">
    <div id="mainBody" ng-controller="homeController" ng-init="init()">

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    </div>
                <div class="col-md-8">
                    <form name="claimForm" class="box">
                        <fieldset>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="container">
                                            <img src="/Content/Image/logo.png" alt="petsureLogo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-2">
                                        <h3>Make a claim</h3>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <h4>Make a claim for your pet</h4>
                                            </div>
                                            <div class="col-md-6 text-left">
                                                <select class="form-control" name="selectPets"
                                                        ng-model="petName"
                                                        ng-options="p.PetName for p in petList"
                                                        ng-required="true"
                                                        ng-change="seletedPets(petName)">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row margin-top80" ng-hide="hideDiv">
                                    <div class="container ">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">
                                            <label>Attach {{pet}}'s invoice for us here  </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-hide="hideDiv">
                                    <div class="container ">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4">
                                            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

                                            <div>
                                                <label class="hideFiles" for="fileselect">Files to upload:</label>
                                                <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
                                                <div id="filedrag" ng-model="nFileDrag"><span class="glyphicon glyphicon-file"></span>Drag and drop, or <a href="#" id="uploadLink" ng-click="submitUpload()" class="link">select from inbox</a> </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                    <div id="myModal" class="modal fade">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title">Submit Form</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Thank you for submitting </p>
                                                    <ul ng-repeat="file in Files">
                                                        <li>{{file.name}}</li>
                                                    </ul>
                                                    <p >for {{pet}}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-inverse" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-hide="hideDiv">
                                        <div class="container ">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-4 margin-bottom50">
                                                <input type="button" class="btn btn-inverse " ng-click="submitClaim()" ng-disabled="isDisable" value="Submit" />
                                                <a href="#" ng-click="cancelUpload()" class="link">or maybe later</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="col-md-2">
                </div>
                </div>
        </div>
    </div>
    <script src="/Scripts/app/Home/HomeApp.js"></script>
    <script src="/Scripts/app/Home/HomeController.js"></script>
    <script src="/Scripts/app/Home/HomeService.js"></script>
</body>
</html>